{% extends "base_template_login.html" %}
{% from "_render_elements.html" import render_input %}
{% block title %}
	INSPRE | Login
{% endblock %}

{% block content %}
<div class="login-container">
        <div class="logo-icon"></div>
        
        <h1 class="app-title">INSPRE</h1>
        <p class="tagline">Inspecciones Digitales. Confianza Garantizada.</p>
        
        <form action="" method="post" class="login-form" enctype="multipart/form-data" novalidate>	
              {{ form.hidden_tag() }}
            <div class="input-group">
                {{ render_input(form.username,'', id= "username", placeholder="Nombre de usuario" ) }}
            </div>

            <div class="input-group">
                {{ render_input(form.password,'', id= "password", placeholder="Contraseña" ) }}
            </div>
            
            <button type="submit" class="login-button">
                INICIAR SESIÓN
            </button>
        </form>
        
        <div class="links-group">
            <a href="{{ url_for('auth.forgot_password') }}">Olvidé mi contraseña</a>
        </div>
    </div>
{% endblock %}

